.info {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 0 0 10px 0;
  border-radius: 5px;
  margin: 10px 20px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.4);
}
.info h4 {
  font-size: 17px;
  background-color: #8D8E8F;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.info_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
