.newsbar {
  max-width: 790px;
  border-radius: 5px;
  height: 575px;
  display: flex;
  flex-direction: column;
}
.newsbar_table {
  margin: 10px;
  max-height: 560px;
  overflow-y: scroll;
}
.table_header {
  font-size: 13px;
}
.cell_icon {
  display: flex;
  align-items: center;
}
.cell_icon svg {
  color: green;
  margin-right: 3px;
}