.newsbar {
  max-width: 680px;
  border-radius: 5px;
  height: 595px;
  display: flex;
  flex-direction: column;
}
.newsbar_table {
  overflow-y: scroll;
  margin: 10px;
}
.newsbar_table::-webkit-scrollbar {
  width: 1px;
}
.table_header {
  font-size: 13px;
}
.cell_icon {
  display: flex;
  align-items: center;
}
.cell_icon svg {
  color: green;
  margin-right: 3px;
}