.workitem_container {
  min-width: 1000px;
  margin-top: 20px;
  min-height: 600px;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, .1);
}
.header h2 {
  font-size: 1.2rem;
}
.header div {
  display: flex;
}
.header div p {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.header div p svg {
  font-size: 15px;
}
.header div p span {
  margin: 0 5px;
  font-weight: 500;
}
.workitems {
  display: flex;
  flex-wrap: wrap;
  max-height: 550px;
  overflow-y: scroll;
}
.workitems::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
  border-radius: 20px;
  color: #ccc;
}
.workitems::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}