.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.5%;
  padding: 10px 20px;
  background-color: #8D8E8F;
  color: #fff;
  margin: 1rem;
  border-radius: 5px;
}
.header h1 {
  font-size: 20px;
  margin-top: 5px;
}
.action_icons {
  display: flex;
  align-items: center; 
}
.action_icons svg {
  margin: 0 10px;
}