.sidebar {
  min-width: 200px;
  color: #fff;
  background-color: #8D8E8F;
  display: flex;
  flex-direction: column;
}
.tools {
  padding: 1em;
}
.tools p {
  border-bottom: 1px solid #fff;
}
.sidebar ul {
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  transition: 200ms;
}
.sidebar ul li:hover {
  background-color: #595959;
}
.sidebar ul i {
  margin-right: 1em;
}
.chat {
  display: flex;
  justify-content: flex-end;
}
.chat i {
  border: 1px solid #97ED8A;
  color: #97ED8A;
  padding: 0.5em;
  border-radius: 20px;
  transition: 200ms;
}
.chat i:hover {
  background-color: #97ED8A;
  color: #000;
}