.container {
  background-color: #eee;
  margin: 10px 1.2rem;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0,0,0,.2);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8D8E8F;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header h3 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.2em;
}
.button {
  background-color: #a6193c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.4);
  margin: 0 0.3em;
  transition: 0.3s;
}
.button:hover {
  background-color: #fd0b48;
}
.outlined_button {
  border: 1px solid #a6193c;
  color: #a6193c;
  padding: 0 15px;
  border-radius: 5px;
  background-color: #fff;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm_modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.confirm_modal h4 {
  font-size: 1.3em;
  text-align: center;
}
.confirm_modal div {
  display: flex;
  justify-content: space-between;
}