.form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}
.form h3 {
  font-size: 20px;
  opacity: .7;
}
.input_date {
  padding: 15px;
  margin: 10px 0px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
}
.button_group {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.button_group .button {
  background-color: #a6193c;
  color: #fff;
  margin: 0px 3px;
  border: none;
}
.button_group .button:hover {
  background-color: #fd0b48;
}
.button_group .button_outlined {
  border: 1px solid #a6193c;
  color: #a6193c;
}
.button_group .button:disabled {
  background-color: #eee;
}